* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-header {
    background-color: aquamarine;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-header-menu-icon {
    position: absolute;
    left: 1rem;
    width: 4vw;
    height: auto;
}

.main-header-menu-icon img {
    width: 100%;
    height: auto;
}

#main-container {
    display: flex;
    height: 80vh;
}

.main-container-left {
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;

}

.main-container-left-icon1 {
    width: 80%;
    height: 80%;
}

.main-container-left-icon1 img {
    width: 100%;
    height: auto;
}

.main-container-left-icon2 {
    width: 80%;
    height: 80%;
}

.main-container-left-icon2 img {
    width: 100%;
    height: auto;
}

.main-container-left-icon3 {
    width: 80%;
    height: 80%;
}

.main-container-left-icon3 img {
    width: 100%;
    height: auto;
}

.main-container-right {
    width: 95vw;
    height: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    overflow-y: auto;

}


.main-container-right-content {
    width: 27vw;
    height: 37vh;
    background-color: grey;
    border-radius: 1rem;
    overflow: hidden;
}

.main-container-right-content-image{
    width: 100%;
    height: 45%;
}

.main-container-right-content-image img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.main-container-right-content p{
    color: white;
    text-align: center;
    padding: 0.8rem;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    
}
#main-footer {
    background-color: aquamarine;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 768px) {
        .main-header-nav-var {
        display: block;
        position: absolute;
        right: 1rem;
        width: 6vw;
    }

    .main-header-nav-var img {
        width: 100%;
        height: auto;
    }
    
    .main-container-left {
        display: none;
    }
    .main-container-right {
        width: 100vw;
    }

    .main-container-right-content {
    width: 80vw;
    height: 75vh;
    background-color: grey;
    border-radius: 1rem;
}
}




@media only screen and (min-width: 768px) and (max-width: 992px){
        .main-header-nav-var {
        display: block;
        position: absolute;
        right: 1rem;
        width: 6vw;
    }

    .main-header-nav-var img {
        width: 100%;
        height: auto;
    }
    
    .main-container-left {
        display: none;
    }
    .main-container-right {
        width: 100vw;
    }
    .main-container-right-content {
    width: 40vw;
    height: 50vh;
    background-color: grey;
    border-radius: 1rem;
}
}

@media only screen and (min-width: 992px){

    .main-container-left {
        display: flex;
    }

    .main-header-nav-var {
        display: none;
    }

}

