* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-header {
  background-color: rgb(87, 164, 226);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-header-menu-icon {
  position: absolute;
  left: 1rem;
  width: 4vw;
  height: auto;
}

.main-header-menu-icon img {
  width: 100%;
  height: auto;
}

.main-header-nav-var {
  position: absolute;
  right: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.main-header-nav-var-contact {
  color: black;
  background-color: rgb(102, 93, 79);
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.main-header-nav-var-login {
  color: black;
  background-color: rgb(255, 235, 235);
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.main-header-nav-var-register {
  color: white;
  background-color: rgb(36, 34, 34);
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

#main-container {
  display: flex;
  min-height: 80vh;
}


.main-container {
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

}


.main-container-content {
  width: 27vw;
  height: 37vh;
  background-color: grey;
  border-radius: 1rem;
  overflow: hidden;
}

.main-container-content-image {
  width: 100%;
  height: 45%;
}

.main-container-content-image img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.main-container-content p {
  color: white;
  text-align: center;
  padding: 0.5rem;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;

}

#main-footer {
  background-color: rgb(87, 164, 226);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer-github {
  order: 1;
}

.main-footer-github i {
  font-size: 3rem;
}

.main-footer-title {
  order: 2;
  text-align: center;
  width: 100%;
}

#contact-footer {
  order: 3;
}

.burger-menu-list {
  position: absolute;
  top: 10vh;
  right: 1.5rem;
  background: white;
  padding: 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity .3s ease, transform .3s ease;
}

.burger-menu-list.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.burger-menu-list a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.burger-menu-list a:hover {
  background: #e1f2ff;
}




@media only screen and (max-width: 768px) {
  .main-header-nav-var {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
  }

  .main-header-nav-var i {
    font-size: 2rem;
    cursor: pointer;
  }

  .main-header-nav-var-contact,
  .main-header-nav-var-register,
  .main-header-nav-var-login {
    display: none;
  }

  .main-container {
    width: 100vw;
  }

  .main-container-content {
    width: 80vw;
    height: 75vh;
    background-color: grey;
    border-radius: 1rem;
  }

  .main-footer-title {
    display: none;
  }
  .main-footer-github{
    display: none;
  }




}


@media only screen and (min-width: 768px) and (max-width: 992px) {
  .main-header-nav-var {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
  }

  .main-header-nav-var i {
    font-size: 2rem;
    cursor: pointer;
  }

  .main-header-nav-var-login,
  .main-header-nav-var-register {
    display: none;
  }

  .main-header-nav-var-contact {
    display: flex;
    gap: 3rem;
  }

  .main-container {
    width: 100vw;
  }

  .main-container-content {
    width: 40vw;
    height: 50vh;
    border-radius: 1rem;
  }

}


@media only screen and (min-width: 992px) {

  .main-header-nav-var i {
    display: none;
  }

}