* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-header {
  background-color: #f0f8ff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0;
}


.main-header a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

.main-header a:hover {
  color: #555;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#main-form-user {
  margin-top: 2rem; 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#main-form-user h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#main-form-user label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.9rem;
}

#main-form-user input[type="text"],
#main-form-user input[type="email"] {
  padding: 0.8rem;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

#main-form-user input[type="submit"] {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #36a2eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

#main-form-user input[type="submit"]:hover {
  background-color: #2a82c4;
}


#login-message {
  margin-top: 1rem;
  min-height: 2rem;
  text-align: center;
  color: red;
}