* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-header {
    background-color: aquamarine;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 2rem;

}
.main-header-menu-icon{
    position: absolute;
    left: 1rem;
    width: 4vw;
    height: auto;
}
.main-header-menu-icon img{
    width: 100%;
    height: auto;
}
#main-container {
    display: flex;
    height: 100vh;
}

.main-container-left {
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    position: relative;

}

.main-container-right {
    width: 95vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    overflow-y: auto;
    
}

.main-container-right-cotent {
    width: 40vw;
    height: 55vh;
    background-color: grey;
    border-radius: 1rem;
}

#main-footer{
    background-color: aquamarine;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
